{% extends "layouts/info.njk" %}
{% block article %}
  <article>
    <div class="project-header">
      <h1>{{ category.name }}</h1>
      <form action="#" method="POST">
        <a href="">Remover secao</a>
      </form>
    </div>
    <p>{{category.content}}</p>
  </article>
{% endblock %}

