{% extends "layouts/info.njk" %}
{% block article %}
  <article>
    <div class="project-header">
      <h1>{{ category.name }}</h1>
      {% for project in projects %}
      <form action="/dashboard/{{ userId }}/project/{{ project.id }}/{{ category.id }}/remove?_method=DELETE" method="POST">
        {% if categoryId === null %}
          <h3>
            Select a category in the left side or create a new category by clicking in
            "New section".
          </h3>
        {% else %}
            <a href="javascript:{};" onclick="parentNode.submit();">Remove section</a>
        {% endif %}
      </form>
      {% endfor %}
    </div>
    <p>{{category.formattedContent | safe }}</p>
    {% if categoryId !== null %}
      {% for project in projects %}
        <a data-modal-open="#edit-section" href="#" class="btn">Edit</a>
      {% endfor %}
    {% endif %}
    <div id="create-section" class="modal">
      {% for project in projects %}
        <form class="modal-content" action="/dashboard/{{ userId }}/project/{{ project.id }}/new/section/submit" method="POST">
          <input type="text" name="title" placeholder="Nome da secao...">
          <textarea id="content" class="mde" name="content" placeholder="Conteudo da secao..."></textarea>
          <button type="submit" class="btn">Save</button>
          <a href="#" data-modal-close="#create-section">Cancel</a>
        </form>
      {% endfor %}
      </div>
    <div id="edit-section" class="modal">
      {% for project in projects %}
        <form class="modal-content" action="/dashboard/{{ userId }}/project/{{ project.id }}/{{ category.id }}/update?_method=PUT" method="POST">
            <input type="text" name="title" placeholder="Nome da secao..." value="{{ category.name }}">
            <textarea id="content" class="mde" name="content" placeholder="Conteudo da secao...">{{category.content}}</textarea>
            <button type="submit" class="btn">Save</button>
            <a href="#" data-modal-close="#edit-section">Cancel</a>
        </form>
      {% endfor %}
    </div>
  </article>
{% endblock %}

