{% extends "layouts/default.njk" %}
{% block body %}
<div class="auth-wrapper">
  <h1>Docfy</h1>
  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Digite sem email..." >
    <input type="password" name="password" placeholder="Digite sua senha..." >
    <button type="submit">Entrar</button>
    <a href="/signup">Criar conta gratis</a>
  </form>
</div>
{% endblock %}
