<header>
  <h2>
    {% for project in projects %}
      {{ project.name }}
    {% endfor %}
  </h2>
  <div class="addon">
    {% for project in projects %}
      <form action="/dashboard/{{ userId }}/project/{{ project.id }}?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">Delete project</button>
      </form>
    {% endfor %}
  </div>
</header>
