<nav>
  <div class="sessions">
    {% for project in projects %}
      {% for category in categories %}
        <a href="/dashboard/{{ userId }}/project/{{ project.id }}/{{ category.id }}">{{ category.name }}</a>
      {% endfor %}
    {% endfor %}
  </div>
  {% for project in projects %}
    <a href="/dashboard/{{ userId }}/project/{{ project.id }}/new/section" class="btn">Nova secao</a>
  {% endfor %}
</nav>
